<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 




	</head>
	
	<body>

        <form class="grid" action="/result" method="POST">
           
          <label for="name">Enter the channel name or id:</label>
          <input type="text" id="name" name="name">

          <center><input class="file_submit" type="Submit"></center>

        </form>

        

        

        
        <br>
        <br>
        <br>

        {% if video_data %}
        <ul>
          {% for video in video_data %}
            <a href="{{ video.url }}" target="_blank"><li>{{ video.title }}</li></a>
          {% endfor %}
        </ul>
      {% endif %}



    </body>

</html>