<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
    <main>
        <form class="form-container" action="/result" method="POST">
            <h2>Sort Channel Videos By Oldest</h2>
            <input type="text" id="name" name="name" placeholder="Channel name or ID">
            <button type="submit">Submit</button>
        </form>
        {% if video_data %}
        <ul class="video-list">
            {% for video in video_data %}
            <li>
                <a href="{{ video.url }}" target="_blank">{{ video.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </main>
</body>
</html>
